#table{
    position: relative;
    display: block;
    width: 600px;
    height: 700px;
    /* outline: 2px solid red; */

}

#form-service {
	padding-top: 150px;
	background-color: #1111112b;
}

#btn-form {
	height: 100px;
	margin-top: 12px;
}

#btn-form button {
	background-color: #397776cc;
	font-size: 1.75rem;
	padding: 15px;
	transition: 0.3s;
}

#btn-form button:hover {
	background-color: #183fc3;

}

.map-container-6{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	}
	.map-container-6 iframe{
	left:0;
	top:0;
	/* height:100%; */
	width:100%;
	position:absolute;
	}
